  <!-- Tela Modal, aparece na frente sem sair da pagina -->
  <div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fecher</a>
        </div>
        <form action="/search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquisa por cidade">
                <button>
                    <img src="assets/extras-aula-1/icones/search.svg">
                </button>
            </div>
        </form>
    </div>
</div>